---
import "../styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cursos y Estudiantes</title>
  </head>
  <body class="bg-white-100">
      <header class="bg-black text-white p-4">
         <nav class="container mx-auto flex justify-between items-center">
             <a href="/" class="font-bold text-xl">REGISTRO</a>
             <ul class="flex gap-4">
                <li>
                   <a href="/cursos" class="hover:underline">Cursos</a>
                </li>
                <li>
                    <a href="/estudiantes" class="hover:underline">Estudiantes</a>
                </li>
            </ul>
         </nav>
      </header>
    <main class="container mx-auto p-2">
      <slot />
    </main>
    <footer class="bg-gray-200 p-4 text-center mt-8">
      <p>Derechos reservados © 2025</p>
    </footer>
  </body>
</html>